body {
    margin: 0;
    padding: 0;
    background-image: url('../images/background/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

ul, li {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    
    .content {
        width: 90%;
    }
}