.df {
    display: flex;
}

.jcc {
    justify-content: center;
}

.fdr {
    flex-direction: row;
}

.fdc {
    flex-direction: column;
}

.aic {
    align-items: center;
}

.fdc {
    flex-direction: column;
}