.player-rating {
    border-radius: 6px;
    color: $white;
    font-weight: bold;
    padding: 6px;
    width: 30px;
}

.player-conditions {
    align-items: center;
    display: flex;
    padding: 6px;
    width: 25px;
}