// colors ========================================
$black: #000;
$black03: rgba(0, 0, 0, 0.3);

$white: #fff;

$lightGray01: rgba(230, 230, 230, 0.1);
$lightGray02: rgba(230, 230, 230, 0.2);
$lightGray03: rgba(230, 230, 230, 0.3);

// fonts =========================================
$baseFontFamily: 'Roboto', sans-serif;
$sigmar: 'Sigmar', cursive;
