// colors ========================================
$black: #000;
$black03: rgba(0, 0, 0, 0.3);

$white: #fff;

$lightGray: #cccccc;
$lightGray01: rgba(230, 230, 230, 0.1);
$lightGray02: rgba(230, 230, 230, 0.2);
$lightGray03: rgba(230, 230, 230, 0.3);

$mainColor09: rgba(29, 32, 48, 0.9);
$mainColor1: rgba(29, 32, 48, 1);

$subMainColor: rgb(38, 42, 64);

$subColor: #037781;
$subColor1: #33ccff;

//
  // green colors //
  $infoColor: #84ff82;
//

// fonts =========================================
$baseFontFamily: 'Roboto', sans-serif;
$sigmar: 'Sigmar', cursive;
